@import 'variables';

.select-input {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 10px 30px 10px 10px;
  background-color: $primary-color;
  border: none;
  text-align: left;
  cursor: pointer;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 5px top 50%;
  background-size: 1.4rem auto;
  background-repeat: no-repeat;
}