@import 'variables';
@import 'breakpoints';

.dashboard-wrapper {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8vh 15px 15px;
  .content {
    width: 100%;
    max-width: 700px;
  }
}
.controls {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  .control-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}