@import 'variables';

.button {
  border: 0;
  color: #fff;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  background-color: $primary-color;
  transition: all 0.3s ease;
  border-radius: 3px;
  letter-spacing: 1px;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.8;
  }
}
