@import 'variables';

.progress-bar-wrapper {
  border: 1px solid $border-color;
  height: 50px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  .percentage-status {
    background-color: #ADD8E6;
    width: 0%;
    height: 100%;
    transition: width 0.3s ease;
    &.percentage-status-maxed {
      background-color: $error-color;
    }
  }
  .percentage {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}