// Small tablets and large smartphones (landscape view)
$screen-mobile: 768px;

// Small tablets (portrait view)
$screen-tablet: 992px;

// Tablets and small desktops
$screen-laptop: 1200px;

$primary-color: #474b5e;

$error-color: #FF9494;

$border-color: #f0f0f0;

$text-light-color: #FBFBFB;

$text-dark-color: #33374c;